h3 {
  text-align: center;
}

#choices {
  text-align: center;
}

.product-image {
  width: 350px;
  margin-top: 5px;
}

.product-section {
  width: 360px;
  margin: 10px;
  padding: 5px;
  border: 2px lightblue solid;
  font-weight: bold;
  display: inline-block;
  vertical-align: top;
}
